body {
	height: 100%;
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-image: url(/assets/images/site/bg_test.png);
	background-repeat: repeat-x;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.site_wrapper {
    position: relative;
    width: 900px;
    height: 400px;
    margin: 0px auto 0px auto;
}

.landn {
    position: relative;
    width: 100%;
    height: 80px;
}

.logo {
	position: absolute;
	width: 334px;
	top: 0px;
	left: 0px;
}

.nav {
    position: absolute;
    top: 35px;
    right: 0px;
    font-size: 12px;
}

.nav a{
    position: relative;
    width: 100px;
    float: left;
    color: #3a2213;
    text-decoration: none;

}

.nav a:hover {
    position: relative;
    font-weight: bold;
    border-bottom: 1px dotted #3a2213;
}

#slider {
	position: relative;
	width: 900px;
	background-color: white;
	border: 10px solid #3a2213;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.scroll {
	overflow: hidden;
	width: 800px;
    margin: 0 auto;
    position: relative;
}

.scrollContainer {
	position: relative;
}

.scrollContainer div.panel {
    padding: 10px;
    width: 285px;
	height: 318px;
}

#left-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	bottom: 0;
	background: url(/assets/images/site/leftshadow.png) repeat-y;
}

#right-shadow {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	bottom: 0;
	background: url(/assets/images/site/rightshadow.png) repeat-y;
}

.inside {
	padding: 10px;
	border: 1px solid #3a2213;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.inside img {
	display: block;
	border: 1px solid #3a2213;
	margin: 0 0 10px 0;
	width: 250px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.inside h2 {
	font-weight: normal;
	color: #3a2213;
	font-size: 14px;
	margin: 0 0 8px 0;
	border-bottom: 1px dotted #3a2213;
}

.inside p {
	font-size: 11px;
	color: #3a2213;
}

.panel a {
	color: #00aced;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}

. panel a:hover {
	border-bottom: 1px solid #999;
}

.scrollButtons {
    position: absolute;
    top: 127px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -45px;
}

.scrollButtons.right {
	top: 220px;
    right: -55px;
}

.hide {
    display: none;
}

.services {
    position: relative;
    width: 870px;
    margin: 10px 10px 10px 20px;
}

.services {
    position: relative;
    width: 870px;
    margin: 10px 10px 10px 45px;
    text-align: left;
    font-size: 12px;
}

.service {
    position: relative;
    width: 250px;
    height: 300px;
    float: left;
    margin: 0px 10px 0px 20px;
    border-right: 1px solid #00aced;
}

.service_last {
    position: relative;
    width: 250px;
    height: 300px;
    float: left;
    margin: 0px 10px 0px 10px;
}

.service h2 {
    font-size: 14px;
    color: #3a2213;
}

.service_last h2 {
    font-size:14px;
    color: #3a2213;
}

.clear {
	clear: both;
}

.footer {
    position: relative;
    width: 100%;
    top: 150px;
    border-top: 1px dotted #3a2213;
    background-color: #f5e0a8;
}

.footer_wrap {
    position: relative;
    width: 900px;
    margin: 10px auto 0px auto;
    bottom: 10px;
}

.footer .sections {
    position: relative;
    width: 270px;
    margin: 10px 0px 0px 23px;
    float: left;
    text-align: left;
}

.sections h2 {
	font-size: 14px;
	text-decoration: underline;
	color: #3a2213;
}

.sections a {
	font-size: 12px;
	color: #3a2213;
	text-decoration: none;
	font-style: italic;
}

.sections a:hover {
	font-weight: bold;
}

.bottom {
    position: relative;
    width: 100%;
    height: 30px;
    top: 150px;
    background-color: #3a2213;
}

.bottom_wrap {
    position: relative;
    width: 900px;
    margin: 0px auto 0px auto;
    top: 8px;
    text-align: right;
    color: white;
    font-size: 10px;
}

.bottom_wrap a {
    color: grey;
}

.bottom_wrap a:hover {
    font-weight: bold;
}
